---
---

<footer class="footer">
  <div class="partners">
    <a href="https://partner1.com" target="_blank">
      <img src="/images/partner1.png" alt="Partner 1" />
    </a>
    <a href="https://partner2.com" target="_blank">
      <img src="/images/partner2.png" alt="Partner 2" />
    </a>
    <a href="https://partner3.com" target="_blank">
      <img src="/images/partner3.png" alt="Partner 3" />
    </a>
  </div>
</footer>

<style>
.footer {
  background-color: #111;
  color: #fff;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.partners {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.partners img {
  height: 40px;
  object-fit: contain;
}
</style>
